<header role="banner">
   <h1 class="logo">{{ site.title }}</h1>
   <img src="assets/img/flo_200.png" width="100" height="100" alt="Florian Bader" class="logo-portrait" />
   <nav role="navigation">
      <ul>
         {% for item in site.data.navigation.links %}
         <li><a href="{{ item.url }}" {% if item.url==page.url %} class="active" {% endif %}>{{ item.title }}</a></li>
         {% endfor %}
      </ul>

      <div class="social-buttons">
         <a href="https://twitter.com/FlorianBaderDE" alt="Twitter"><i class="fa fa-twitter social-button"></i></a>
         <a href="https://linkedin.com/in/florianbader/" alt="Linked In"><i
               class="fa fa-linkedin social-button"></i></a>
         <a href="https://xing.com/profile/Florian_Bader6/" alt="Xing"><i class="fa fa-xing social-button"></i></a>
         <a href="https://github.com/FlorianBader" alt="GitHub"><i class="fa fa-github social-button"></i></a>
         <a href="https://mvp.microsoft.com/de-de/mvp/Florian Bader-5003371" alt="Microsoft MVP"><i
               class="fa fa-windows social-button"></i></a>
         <a href="atom.xml" alt="RSS"><i class="fa fa-rss social-button"></i></a>
      </div>
   </nav>
</header>